{% extends "layout.html" %}
{% block content %}
<div class="mmm">
<form method="POST" action="">
  {{ form.csrf_token }}
  {{ form.username.label }} {{ form.username (id="username_new")  }}
  <br> 
 {{ form.password.label }} {{ form.password (id="password_new") }}
 <br>
  {{ form.confirm_password.label }} {{ form.confirm_password  (id="password_confirm")}}
  <br>
  <input type="submit" value="Register">
</form>
{% for error in form.password.errors %}
  <span style="color: red;">[{{ error }}]</span>
{% endfor %}
</div>

{% endblock content %}
