
.item_image{

    height: 200px;
   
}


.gallery_item{
    float: left;
    
}

.price_low{
    color: aqua;
}
.price_high{
    color: aqua;
}
.eco_low{
    color: aqua;
}


.eco_low{
    color: aqua;
}

.username_new{
    font-size: 20px;
    font-weight: bold;
    color: #003366;
    text-align: center;
}
.password_new{
    font-size: 20px;
    font-weight: bold;
    color: #003366;
    text-align: center;
}
.password_confirm{
    font-size: 20px;
    font-weight: bold;
    color: #003366;
    text-align: center;
}
.login{
    font-size: 20px;
    font-weight: bold;
    color: #003366;
    text-align: center;
}
.login_error{
    font-size: 20px;
    font-weight: bold;
    color: #003366;
    text-align: center;

}